
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.gradient-gallery-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  height: 150px;
}

.scroll-box {
  width: 30%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.gradient-preview {
  width: 100%;
  height: 31px;
  margin-bottom: 5px;
}

.scroll-box.top-to-bottom .gradient-preview {
  animation: scroll-top-to-bottom 25s linear infinite;
}

.scroll-box.bottom-to-top .gradient-preview {
  animation: scroll-bottom-to-top 25s linear infinite;
}

@keyframes scroll-top-to-bottom {
  0% {
    transform: translateY(-800%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes scroll-bottom-to-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-800%);
  }
}


/* Animated Tool Container */
.animated-tool-container {
  position: relative;
  overflow: hidden;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-animation {
  position: absolute;
  animation: slideInOut 4s ease-in-out infinite;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.5s ease-in-out;
}

/* Slide In and Out Animation */
@keyframes slideInOut {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
